h1 {
    color: brown;
}
*{
    border:solid
}
.header{
    background-color: aqua;
}
.menu{
    background-color: burlywood;
    display:flex;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
